#net_mizle_eb {
    max-width: 1000px;
    padding: 20px 80px;
    margin: auto;
}
#net_mizle_eb #net_mizle_eb_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#net_mizle_eb #net_mizle_eb_header {
    width: 100%;
    height: 200px;
    margin: 2rem 0;
    content: url(https://cldup.com/9iCOVswnCZ.svg);
    animation: wipeIn 0.5s ease-in-out;
}
#net_mizle_eb .section_header_holder {
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    width: 50%;
    margin: 0;
    padding: 16px 4px;
    box-sizing: border-box;
}
#net_mizle_eb .section_header {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #292f33;
    margin-bottom: 20px;
}
#net_mizle_eb .section_header:before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_0:before {
    content: "\f013"; /* Cog */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_1:before {
    content: "\f005"; /* Star */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_2:before {
    content: "\f079"; /* Retweet */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_3:before {
    content: "\f112"; /* Reply */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_4:before {
    content: "\f112"; /* Reply */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_5:before {
    content: "\f0e0"; /* Envelope */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_6:before {
    content: "\f0ae"; /* Tasks */
}
#net_mizle_eb .section_header#net_mizle_eb_section_header_7:before {
    content: "\f234"; /* User-Plus */
}

#net_mizle_eb .config_var {
    position: relative;
    width: 100%;
    margin: 13px auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#net_mizle_eb .config_var[id$="Volume_var"] {
    width: 75%;
}
#net_mizle_eb .config_var[id$="Button_var"] {
    width: 25%;
}
#net_mizle_eb #net_mizle_eb_commonMasterVolume_var {
    width: 80%;
}

#net_mizle_eb .config_var label {
    position: absolute;
    top: 9px;
    left: 0;
    margin: 0;
    font-weight: lighter;
    font-size: 16px;
    color: #9098a9;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    user-select: none;
}
#net_mizle_eb input[type="text"]:not(:placeholder-shown) + label {
    color: #5a667f;
    transform: translateY(-20px) scale(0.75);
}
#net_mizle_eb input[type="text"]:focus + label {
    color: #07f;
    transform: translateY(-22px) scale(0.75);
}

#net_mizle_eb input[type="text"] {
    width: 100%;
    border: 0;
    padding: 12px 0;
    height: 36px;
    border-bottom: 1px solid #c8ccd4;
    background: none;
    transition: all 0.15s ease;
}
#net_mizle_eb input[type="text"]:focus {
    background: none;
    outline: none;
}

#net_mizle_eb input[type="button"] {
    width: 80%;
    height: 36px;
    background-color: transparent;
    border: 1px solid #c8ccd4;
    cursor: pointer;
    outline: none;
    padding: 0;
}

#net_mizle_eb #net_mizle_eb_buttons_holder {
    margin: 20px auto;
}

#net_mizle_eb .saveclose_buttons {
    margin: 0;
    padding: 0;
}

#net_mizle_eb #net_mizle_eb_saveBtn {
    padding: 6px 24px;
    position: relative;
    width: 50vw;
    height: 40px;
    visibility: hidden;
}
#net_mizle_eb #net_mizle_eb_saveBtn::after {
    content: "\1F4BE Save & Close";
    visibility: visible;
    display: block;
    border: 1px solid #292f33;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    margin: auto;
    padding: 8px;
    filter: grayscale(100%);
}
#net_mizle_eb #net_mizle_eb_saveBtn:hover::after {
    filter: grayscale(0);
}

#net_mizle_eb #net_mizle_eb_closeBtn {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    font-size: 0;
    background: none;
    border: none;
}
#net_mizle_eb #net_mizle_eb_closeBtn:hover {
    opacity: 1;
}
#net_mizle_eb #net_mizle_eb_closeBtn:before,
#net_mizle_eb #net_mizle_eb_closeBtn:after {
    position: absolute;
    top: 0;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    visibility: visible;
    background-color: #292f33;
    transition: transform 0.2s ease-in-out;
}
#net_mizle_eb #net_mizle_eb_closeBtn:before {
    transform: rotate(45deg);
}
#net_mizle_eb #net_mizle_eb_closeBtn:hover:before {
    transform: rotate(135deg);
}
#net_mizle_eb #net_mizle_eb_closeBtn:after {
    transform: rotate(-45deg);
}
#net_mizle_eb #net_mizle_eb_closeBtn:hover:after {
    transform: rotate(45deg);
}

.reset_holder {
    display: none !important;
}

@keyframes wipeIn {
    0% {
        transform: translateY(calc(-100% - 20px));
    }
    100% {
        transform: translateY(0);
    }
}
